@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Poppins:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --light-yellow: #ffe082;
  --box-shadow: var(--pink) 5px 5px 5px;
  --box-shadow1: rgba(100, 100, 111, 0.2) 0px 2px 5px 0px;
  --box-shadow2: rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
  --yellow: #ffd54f;
  --pink:#f57c00;
  --pink: #e91e63;
 
  --light-red: #e5737;
  --white: #fffde7;
  --black: #212121;
}
